<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AT React</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Home</h1>
        <h1>Sobre</h1>
        <h1>Contato</h1>
    </header>
    <div class="container">
        <div class="container-info">
            <h1>Crie seus vídeos online</h1>
            <h2>Transforme suas ideias em filmes memoráveis: onde a criatividade encontra a simplicidade.</h2>
            <button>Começar agora!</button>
        </div>
        <div class="Imagem">
            <img src="/Template/imgs/Hero image.png" alt="imagme">
        </div>
    </div>
    <div class="cards">
        
    </div>
</body>
</html>