header{
    align-items: center;
    margin-top: 40px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;  
}

nav ul li a {
    color: gray;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.container-filho{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin-left: 30px;
    width: 550px;
}

.container-filho h1{
    font-size: 3rem;
}

.container-filho h2{
    font-size: 1.6rem;
}

.container-filho button{
    font-size: 1.1rem;
    color: white;
    width: 220px;
    height: 40px;
    background: #333333;
    border-radius: 40px;
    border: none;
}

.container img{
    margin-left: 100px;
    width: 80%;
}

.All-Cards{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 25px;
}

.card-1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 309x;
    background-color: #F1C2B0;
    border-radius: 15px;
}

.card-1 p{
    width: 200px;
    font-size: 1rem;
}

.card-2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 309x;
    background-color: #F9EB98;
    border-radius: 15px;
}

.card-2 p{
    width: 200px;
    font-size: 1rem;
}

.card-3{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 309x;
    background-color: #C0D9DD;
    border-radius: 15px;
}

.card-3 p{
    width: 200px;
    font-size: 1rem;
}

.card-4{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 309x;
    background-color: #6975E8;
    border-radius: 15px;
}

.card-4 p{
    width: 200px;
    font-size: 1rem;
}

.espaco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -50px;
}

.espaco img{
    width: 10%;
    height: 10%;
    margin-top: 55px;
}

.espaco h1{
    font-size: 4rem;
    margin-bottom: 0px;
    color: white;
}

.container-sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.container-sobre-filho{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin-left: 30px;
    width: 400px;
}

.container-sobre-filho h1{
    font-size: 4rem;
}

.container-sobre-filho h2{
    font-size: 1rem;
    margin-bottom: 30px;
}

.container-sobre-filho button{
    font-size: 1.1rem;
    color: white;
    width: 220px;
    height: 40px;
    background: #333333;
    border-radius: 40px;
    border: none;
}

.telefones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.telefones img{
    margin-right: 70px;
}

.fundo{
    background-color: #F4F2F2;
    height: 640px;
}

.plano-top{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.plano-top h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-size: 3rem;
}

.servicos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.individual{
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 400px;
}

.cabeca-individual{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6975E8;
    border-radius: 20px 20px 0px 0px;
    height: 65px;
}

.cabeca-individual h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #131925;
    font-size: 1rem;
}

.individual p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 10px;
}

.individual select{
    margin-left: 10px;
    width: 220px;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0 0 2px;
}

.individual button{
    background-color: #6975E8;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
}

.botao-individual{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.profissional{
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 400px;
}

.cabeca-profissional-corporativo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid  1px;
    border-radius: 20px 20px 0px 0px;
    height: 65px;
}

.cabeca-profissional-corporativo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.profissional p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 10px;
    color: gray;
}

.profissional-videos{
    margin-left: 10px;
    width: 220px;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0 0 2px;   
}

.profissional button{
    color: black;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: solid 1px;
}

.botao-profissional{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.corporativo{
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 400px;
}

.corporativo-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.corporativo img{
    width: 60%;
}

.botao-corporativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.corporativo button{
    color: black;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: solid 1px;
}